{%extends "base.html"%}
{%block title%}Add Students{%endblock%}
{%block styles%}
<!-- <style type="text/css">
	textarea{  
	  display:block;
	  box-sizing: padding-box;
	  overflow:hidden;

	  padding:10px;
	  width:250px;
	  font-size:14px;
	  margin:50px auto;
	  border-radius:6px;
	  box-shadow:2px 2px 8px rgba(0,0,0,.3);
	  border:0;
	}
</style> -->
{%endblock%}
{%block body%}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-sm-12 panel" style="background: #eee; padding-left: 3%; padding-right: 3%">
			<br><h3>Create Test</h3>
			<hr style="border-top: 1px solid black">
			<h4>Test ID: {{session.TestID}}</h4>
			<h4>Hosting Date: {{session.hosting_date}}</h4>
			<h4>Add Students</h4>
			<form method="post" action="/addstudents" enctype=multipart/form-data>
			  <div class="form-group">
			  	<textarea id="studentslist" class='form-control' name="studentslist" rows="3" data-min-rows='3' placeholder='Start typing an email address and pick from suggestions..'></textarea>
				<!-- <textarea  size="50" rows="5"  class="form-control"></textarea> -->
			  </div>
			  <button type="submit" class="btn btn-primary">Add Students</button>
			</form>
		</div>
		<div class="col-md-6 col-sm-12" style="background: white">
			<br><h3>Result</h3>
			<hr style="border-top: 1px solid black">
			{% for student in session['students'] %}
				<h4>{{student}}</h4>
			{% endfor %}
		</div>
	</div>
</div>
{%block script%}
<script type="text/javascript">

	// auto-resizing textarea
	// $(document)
 //    .one('focus.autoExpand', 'textarea.autoExpand', function(){
 //        var savedValue = this.value;
 //        this.value = '';
 //        this.baseScrollHeight = this.scrollHeight;
 //        this.value = savedValue;
 //    })
 //    .on('input.autoExpand', 'textarea.autoExpand', function(){
 //        var minRows = this.getAttribute('data-min-rows')|0, rows;
 //        this.rows = minRows;
 //        rows = Math.ceil((this.scrollHeight - this.baseScrollHeight) / 17);
 //        this.rows = minRows + rows;
 //    });
 
 	//resize textarea according to students list
 	$(this).height( $(this)[0].scrollHeight );

	// code for auto-suggesting student email id's
	$( function() {
	    function split( val ) {
	      return val.split( /,\s*/ );
	    }

	    function extractLast( term ) {
	      return split( term ).pop();
	    }
	 	
	    $( "#studentslist" )
	      .on( "keydown", function( event ) {
	        if ( event.keyCode === $.ui.keyCode.TAB &&
	            $( this ).autocomplete( "instance" ).menu.active ) {
	          event.preventDefault();
	        }
	      })
	      .autocomplete({
	        minLength: 0,
	        source: function( request, response ) {
	          $.getJSON("{{url_for('autocomplete')}}",{
	            q: extractLast(request.term),
	          }, function(data) {
	            response($.ui.autocomplete.filter(data.matching_results, extractLast( request.term )));
	          });
	        },
	        focus: function() {
	          return false;
	        },
	        select: function( event, ui ) {
	          var terms = split( this.value );
	          terms.pop();
	          if ( terms.indexOf(ui.item.value) == -1)
	          	terms.push( ui.item.value );
	          	terms.push( "" );
	          	this.value = terms.join( ",\n" );
	          return false;
	        }
	      });
	  });
</script>
{%endblock%}
{%endblock%}