{%extends "base.html"%}
{%block title%}Login Page{%endblock%}
{%block script%}
<script type="text/javascript" src="js/notify.min.js"></script>

<script>
	$(function() {
		$("form").on("submit", function(){
			email = $("#email").val();
    		var organization = email.substr(-9);
    		if(organization != ".rgukt.in"){
    			// $("#message").text("Email ID must be from RGUKT");
    			$("#email").notify({"Email ID must be from RGUKT", "error"}, {
					  // whether to hide the notification on click
					  clickToHide: true,
					  // whether to auto-hide the notification
					  autoHide: true,
					  // if autoHide, hide after milliseconds
					  autoHideDelay: 5000,
					  // show the arrow pointing at the element
					  arrowShow: true,
					  // arrow size in pixels
					  arrowSize: 5,
					  // position defines the notification position though uses the defaults below
					  position: '...',
					  // default positions
					  elementPosition: 'bottom left',
					  globalPosition: 'top right',
					  // default style
					  style: 'bootstrap',
					  // default class (string or [string])
					  className: 'error',
					  // show animation
					  showAnimation: 'slideDown',
					  // show animation duration
					  showDuration: 400,
					  // hide animation
					  hideAnimation: 'slideUp',
					  // hide animation duration
					  hideDuration: 200,
					  // padding between element and notification
					  gap: 2
					}
    				);
    			return false;
    		}
		});
	});
</script>
{%endblock%}
{%block body%}
<div class="container-fluid">
	<br><div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4 panel panel-default">
			<h1 class="text-center">Login</h1><hr>
			{% if error %}
			<div class="alert alert-warning">
			  <strong>{{error}}</strong>
			</div>
			{% endif %}
			{% if success %}
			<div class="alert alert-success">
			  <strong>{{success}}</strong>
			</div>
			{% endif %}
			<form method="post" action="/login">
			  <div class="form-group">
			    <label for="email">Email address</label>
			    <input name="email" type="email" class="validate form-control" required="" aria-required="true" id="email" placeholder="Email">
			  </div>
			  <div class="form-group">
			    <label for="password">Password</label>
			    <input name="password" type="password" class="validate form-control" required="" aria-required="true" id="password" placeholder="Password">
			  </div>
			  <button type="submit" class="btn btn-primary text-center">Submit</button>
			</form><br>
			<!-- <form method="post">
				<label>Username: </label><input id="email" name="email" type="email" class="validate" required="" aria-required="true"><br><br>
				<label>Password: </label><input id="password" name="password" type="password" class="validate" required="" aria-required="true"><br><br>
				<input type="submit">
			</form> -->	
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
{%endblock%}
