{%extends "base.html"%}
{%block title%}Student Score{%endblock%}
{%block script%}
<script type="text/javascript">
	function showresult(email) {
		$.ajax({
		    type: 'POST',
		    url: '/getResult',
		    data: {"emailid": email},
		    success: function (data) {
		    	data=JSON.parse(data);
				var str="<table class='table table-bordered'>  <tr><td align='center'>QUSETION NUMBER</td><td align='center'>SCORE </td> <td align='left'>SUBMITTED ANSWER</td><td align='center'>TIME TAKEN</td></tr>";
				var totalscore=0;
				for(var i=0;i<data.question.length;i++){
					if(data.question[i].q_score==1) {
						str=str+"<tr class='success'>";
						totalscore=totalscore+data.question[i].q_score;
					} else {
						if(data.question[i].submittedans!="skip")
							str=str+"<tr class='danger'>";
						else
							str=str+"<tr>";
					}
					str=str+"<td align='center'>"+data.question[i].currentQuestion+"</td>";
					str=str+"<td align='center'>"+data.question[i].q_score+"</td>";
					str=str+"<td>"+data.question[i].submittedans+"</td>";
					if(data.question[i].responsetime!=null)
						str=str+"<td align='center'>"+data.question[i].responsetime.toFixed(2)+"</td></tr>";
					else
						str=str+"<td align='center'>"+data.question[i].responsetime+"</td></tr>";
				}
				str=str+"<tr><td align='center'>Total Score</td><td align='center'>"+totalscore+"</td></tr>";
				str=str+"</table>";
				$("#ch1").replaceWith(str);
		    }
		});
	}
	$(document).ready(function(){
		console.log("{{email}}");
		showresult("{{email}}");
	})
</script>
{%endblock%}
{%block body%}
	<div id="ch1"></div>
{%endblock%}